# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
doc/api/
pubspec.lock

# IDE
.idea/
.vscode/*
!.vscode/settings.json
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# FVM Version Cache
.fvm/
